<div class="rendezes-gombok">
  <button (click)="sortProducts('low-to-high')">
    <i class="bi bi-arrow-down"></i> Legolcsóbbak
  </button>
  
  <button (click)="sortProducts('high-to-low')">
    <i class="bi bi-arrow-up"></i> Legdrágábbak
  </button>
</div>

<div class="edes-gumicukrok-lista">
  <div *ngFor="let gumicukor of gumicukrok; let i = index" class="edes-gumicukrok-item">
    <div class="edes-gumicukrok-card">
      <h3>{{ gumicukor.nev }}</h3>
      <img [src]="gumicukor.image" [alt]="gumicukor.nev" class="edes-gumicukrok-kep">
      <p class="leiras"> {{ gumicukor.leiras }} </p>
      <p class="ar">Ár: {{ gumicukor.ar }} Ft</p>
      <div class="mennyiseg">
        Mennyiség: <input type="number" [(ngModel)]="gumicukor.darab" min="1">
      </div>
      <button class="kosar-gomb" (click)="kosarbaRak(i)">
        Kosárba rakom
      </button>
    </div>
  </div>
</div>

<div *ngIf="showNotification" class="notification">
  A termék kosárba rakva!
</div>

<button class="scroll-to-top" (click)="scrollToTop()">↑</button>